.container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  animation: 0.5s ease-in;
  justify-items: end;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.MoviesDetailBtn {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease;
}
.MoviesDetailBtn:hover {
  background-color: #ddd;
}

.MoviesDetailBtn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(-135deg);
  width: 0;
  height: 0;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transition: all 0.8s ease;
}

.MoviesDetailBtn:hover:before {
  width: 15px;
  height: 15px;
}

.MoviesDetailBtn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}
